openapi: 3.0.1
info:
  title: Matrix Client-Server API
  version: unstable
servers:
- url: https://matrix.org/
paths:
  /.well-known/matrix/client:
    get:
      description: |-
        Gets discovery information about the domain. The file may include
        additional keys, which MUST follow the Java package naming convention,
        e.g. ``com.example.myapp.property``. This ensures property names are
        suitably namespaced for each application and reduces the risk of
        clashes.

        Note that this endpoint is not necessarily handled by the homeserver,
        but by another webserver, to be used for discovering the homeserver URL.
      operationId: getWellknown
      responses:
        200:
          content:
            application/json:
              schema:
                additionalProperties:
                  description: Application-dependent keys using Java package naming
                    convention.
                  properties: {}
                  type: object
                description: |-
                  Used by clients to determine the homeserver, identity server, and other
                  optional components they should be interacting with.
                example:
                  m.homeserver:
                    base_url: https://matrix.example.com
                  m.identity_server:
                    base_url: https://identity.example.com
                  org.example.custom.property:
                    app_url: https://custom.app.example.org
                title: Discovery Information
                type: object
          description: Server discovery information.
        404:
          content: {}
          description: No server discovery information available.
      summary: Gets Matrix server discovery information about the domain.
      tags:
      - Server administration
  /_matrix/client/unstable/account/3pid:
    get:
      description: |-
        Gets a list of the third party identifiers that the homeserver has
        associated with the user's account.

        This is *not* the same as the list of third party identifiers bound to
        the user's Matrix ID in identity servers.

        Identifiers in this list may be used by the homeserver as, for example,
        identifiers that it will accept to reset the user's account password.
      operationId: getAccount3PIDs
      responses:
        200:
          content:
            application/json:
              example:
                threepids:
                - added_at: 1535336848756
                  address: monkey@banana.island
                  medium: email
                  validated_at: 1535176800000
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: The lookup was successful.
      security:
      - accessToken: []
      summary: Gets a list of a user's third party identifiers.
      tags:
      - User data
    post:
      description: Adds contact information to the user's account.
      operationId: post3PIDs
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              example:
                bind: false
                three_pid_creds:
                  client_secret: d0n'tT3ll
                  id_server: matrix.org
                  sid: abc123987
              properties:
                bind:
                  description: |-
                    Whether the homeserver should also bind this third party
                    identifier to the account's Matrix ID with the passed identity
                    server. Default: ``false``.
                  type: boolean
                three_pid_creds:
                  $ref: '#/components/schemas/ThreePidCredentials'
              required:
              - three_pid_creds
              type: object
        required: false
      responses:
        200:
          content:
            application/json:
              example:
                submit_url: https://example.org/path/to/submitToken
            schema:
              example:
                properties:
                  submit_url:
                    description: |-
                      An optional field containing a URL where the client must
                      submit the validation token to, with identical parameters
                      to the Identity Service API's ``POST
                      /validate/email/submitToken`` endpoint. The homeserver must
                      send this token to the user (if applicable), who should
                      then be prompted to provide it to the client.

                      If this field is not present, the client can assume that
                      verification will happen without the client's involvement
                      provided the homeserver advertises this specification version
                      in the ``/versions`` response (ie: r0.5.0).
                    example: https://example.org/path/to/submitToken
                    type: string
                type: object
          description: The addition was successful.
        403:
          content:
            application/json:
              example:
                errcode: M_THREEPID_AUTH_FAILED
                error: The third party credentials could not be verified by the identity
                  server.
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: The credentials could not be verified with the identity server.
      security:
      - accessToken: []
      summary: Adds contact information to the user's account.
      tags:
      - User data
      x-codegen-request-body-name: body
  /_matrix/client/unstable/account/3pid/delete:
    post:
      description: |-
        Removes a third party identifier from the user's account. This might not
        cause an unbind of the identifier from the identity server.
      operationId: delete3pidFromAccount
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                address:
                  description: The third party address being removed.
                  example: example@example.org
                  type: string
                id_server:
                  description: |-
                    The identity server to unbind from. If not provided, the homeserver
                    MUST use the ``id_server`` the identifier was added through. If the
                    homeserver does not know the original ``id_server``, it MUST return
                    a ``id_server_unbind_result`` of ``no-support``.
                  example: example.org
                  type: string
                medium:
                  description: The medium of the third party identifier being removed.
                  enum:
                  - email
                  - msisdn
                  example: email
                  type: string
              required:
              - address
              - medium
              type: object
        required: false
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: |-
            The homeserver has disassociated the third party identifier from the
            user.
      security:
      - accessToken: []
      summary: Deletes a third party identifier from the user's account
      tags:
      - User data
      x-codegen-request-body-name: body
  /_matrix/client/unstable/account/deactivate:
    post:
      description: |-
        Deactivate the user's account, removing all ability for the user to
        login again.

        This API endpoint uses the `User-Interactive Authentication API`_.

        An access token should be submitted to this endpoint if the client has
        an active session.

        The homeserver may change the flows available depending on whether a
        valid access token is provided.
      operationId: deactivateAccount
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                auth:
                  additionalProperties:
                    description: Keys dependent on the login type
                    properties: {}
                    type: object
                  description: Additional authentication information for the user-interactive
                    authentication API.
                  example:
                    example_credential: verypoorsharedsecret
                    session: xxxxx
                    type: example.type.foo
                  title: Authentication Data
                  type: object
                id_server:
                  description: |-
                    The identity server to unbind all of the user's 3PIDs from.
                    If not provided, the homeserver MUST use the ``id_server``
                    that was originally use to bind each identifier. If the
                    homeserver does not know which ``id_server`` that was,
                    it must return an ``id_server_unbind_result`` of
                    ``no-support``.
                  example: example.org
                  type: string
              type: object
        required: false
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: The account has been deactivated.
        401:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication response'
          description: The homeserver requires additional authentication information.
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: This request was rate-limited.
      security:
      - accessToken: []
      summary: Deactivate a user's account.
      tags:
      - User data
      x-codegen-request-body-name: body
  /_matrix/client/unstable/account/password:
    post:
      description: |-
        Changes the password for an account on this homeserver.

        This API endpoint uses the `User-Interactive Authentication API`_ to
        ensure the user changing the password is actually the owner of the
        account.

        An access token should be submitted to this endpoint if the client has
        an active session.

        The homeserver may change the flows available depending on whether a
        valid access token is provided. The homeserver SHOULD NOT revoke the
        access token provided in the request, however all other access tokens
        for the user should be revoked if the request succeeds.
      operationId: changePassword
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                auth:
                  additionalProperties:
                    description: Keys dependent on the login type
                    properties: {}
                    type: object
                  description: Additional authentication information for the user-interactive
                    authentication API.
                  example:
                    example_credential: verypoorsharedsecret
                    session: xxxxx
                    type: example.type.foo
                  title: Authentication Data
                  type: object
                new_password:
                  description: The new password for the account.
                  example: ihatebananas
                  type: string
              required:
              - new_password
              type: object
        required: false
      responses:
        200:
          content:
            application/json:
              example: {}
              schema:
                type: object
          description: The password has been changed.
        401:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication response'
          description: The homeserver requires additional authentication information.
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: This request was rate-limited.
      security:
      - accessToken: []
      summary: Changes a user's password.
      tags:
      - User data
      x-codegen-request-body-name: body
  /_matrix/client/unstable/account/whoami:
    get:
      description: "Gets information about the owner of a given access token. \n\n\
        Note that, as with the rest of the Client-Server API, \nApplication Services\
        \ may masquerade as users within their \nnamespace by giving a ``user_id``\
        \ query parameter. In this \nsituation, the server should verify that the\
        \ given ``user_id``\nis registered by the appservice, and return it in the\
        \ response \nbody."
      operationId: getTokenOwner
      responses:
        200:
          content:
            application/json:
              example:
                user_id: '@joe:example.org'
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: The token belongs to a known user.
        401:
          content:
            application/json:
              example:
                errcode: M_UNKNOWN_TOKEN
                error: Unrecognised access token.
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: The token is not recognised
        403:
          content:
            application/json:
              example:
                errcode: M_FORBIDDEN
                error: Application service has not registered this user.
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: The appservice cannot masquerade as the user or has not registered
            them.
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: This request was rate-limited.
      security:
      - accessToken: []
      summary: Gets information about the owner of an access token.
      tags:
      - User data
  /_matrix/client/unstable/admin/whois/{userId}:
    get:
      description: |-
        Gets information about a particular user.

        This API may be restricted to only be called by the user being looked
        up, or by a server admin. Server-local administrator privileges are not
        specified in this document.
      operationId: getWhoIs
      parameters:
      - description: The user to look up.
        example: '@peter:rabbit.rocks'
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                devices:
                  teapot:
                    sessions:
                    - connections:
                      - ip: 127.0.0.1
                        last_seen: 1411996332123
                        user_agent: curl/7.31.0-DEV
                      - ip: 10.0.0.2
                        last_seen: 1411996332123
                        user_agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36
                          (KHTML, like Gecko) Chrome/37.0.2062.120 Safari/537.36
                user_id: '@peter:rabbit.rocks'
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: The lookup was successful.
      security:
      - accessToken: []
      summary: Gets information about a particular user.
      tags:
      - Server administration
  /_matrix/client/unstable/capabilities:
    get:
      description: |-
        Gets information about the server's supported feature set
        and other relevant capabilities.
      operationId: getCapabilities
      responses:
        200:
          content:
            application/json:
              example:
                capabilities:
                  com.example.custom.ratelimit:
                    max_requests_per_hour: 600
                  m.change_password:
                    enabled: false
                  m.room_versions:
                    available:
                      1: stable
                      2: stable
                      3: unstable
                      test-version: unstable
                    default: "1"
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: The capabilities of the server.
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: This request was rate-limited.
      security:
      - accessToken: []
      summary: Gets information about the server's capabilities.
      tags:
      - Capabilities
  /_matrix/client/unstable/createRoom:
    post:
      description: |-
        Create a new room with various configuration options.

        The server MUST apply the normal state resolution rules when creating
        the new room, including checking power levels for each event. It MUST
        apply the events implied by the request in the following order:

        0. A default ``m.room.power_levels`` event, giving the room creator
           (and not other members) permission to send state events. Overridden
           by the ``power_level_content_override`` parameter.

        1. Events set by the ``preset``. Currently these are the ``m.room.join_rules``,
           ``m.room.history_visibility``, and ``m.room.guest_access`` state events.

        2. Events listed in ``initial_state``, in the order that they are
           listed.

        3. Events implied by ``name`` and ``topic`` (``m.room.name`` and ``m.room.topic``
           state events).

        4. Invite events implied by ``invite`` and ``invite_3pid`` (``m.room.member`` with
           ``membership: invite`` and ``m.room.third_party_invite``).

        The available presets do the following with respect to room state:

        ========================  ==============  ======================  ================  =========
                 Preset           ``join_rules``  ``history_visibility``  ``guest_access``  Other
        ========================  ==============  ======================  ================  =========
        ``private_chat``          ``invite``      ``shared``              ``can_join``
        ``trusted_private_chat``  ``invite``      ``shared``              ``can_join``      All invitees are given the same power level as the room creator.
        ``public_chat``           ``public``      ``shared``              ``forbidden``
        ========================  ==============  ======================  ================  =========

        The server will create a ``m.room.create`` event in the room with the
        requesting user as the creator, alongside other keys provided in the
        ``creation_content``.
      operationId: createRoom
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              example:
                creation_content:
                  m.federate: false
                name: The Grand Duke Pub
                preset: public_chat
                room_alias_name: thepub
                topic: All about happy hour
              properties:
                creation_content:
                  description: |-
                    Extra keys, such as ``m.federate``, to be added to the content
                    of the `m.room.create`_ event. The server will clobber the following
                    keys: ``creator``, ``room_version``. Future versions of the specification
                    may allow the server to clobber other keys.
                  properties: {}
                  title: CreationContent
                  type: object
                initial_state:
                  description: |-
                    A list of state events to set in the new room. This allows
                    the user to override the default state events set in the new
                    room. The expected format of the state events are an object
                    with type, state_key and content keys set.

                    Takes precedence over events set by ``preset``, but gets
                    overriden by ``name`` and ``topic`` keys.
                  items:
                    $ref: '#/components/schemas/StateEvent'
                  type: array
                invite:
                  description: |-
                    A list of user IDs to invite to the room. This will tell the
                    server to invite everyone in the list to the newly created room.
                  items:
                    type: string
                  type: array
                invite_3pid:
                  description: |-
                    A list of objects representing third party IDs to invite into
                    the room.
                  items:
                    $ref: '#/components/schemas/Invite3pid'
                  type: array
                is_direct:
                  description: |-
                    This flag makes the server set the ``is_direct`` flag on the
                    ``m.room.member`` events sent to the users in ``invite`` and
                    ``invite_3pid``. See `Direct Messaging`_ for more information.
                  type: boolean
                name:
                  description: |-
                    If this is included, an ``m.room.name`` event will be sent
                    into the room to indicate the name of the room. See Room
                    Events for more information on ``m.room.name``.
                  type: string
                power_level_content_override:
                  description: |-
                    The power level content to override in the default power level
                    event. This object is applied on top of the generated `m.room.power_levels`_
                    event content prior to it being sent to the room. Defaults to
                    overriding nothing.
                  properties: {}
                  title: Power Level Event Content
                  type: object
                preset:
                  description: |-
                    Convenience parameter for setting various default state events
                    based on a preset.

                    If unspecified, the server should use the ``visibility`` to determine
                    which preset to use. A visbility of ``public`` equates to a preset of
                    ``public_chat`` and ``private`` visibility equates to a preset of
                    ``private_chat``.
                  enum:
                  - private_chat
                  - public_chat
                  - trusted_private_chat
                  type: string
                room_alias_name:
                  description: |-
                    The desired room alias **local part**. If this is included, a
                    room alias will be created and mapped to the newly created
                    room. The alias will belong on the *same* homeserver which
                    created the room. For example, if this was set to "foo" and
                    sent to the homeserver "example.com" the complete room alias
                    would be ``#foo:example.com``.

                    The complete room alias will become the canonical alias for
                    the room.
                  type: string
                room_version:
                  description: |-
                    The room version to set for the room. If not provided, the homeserver is
                    to use its configured default. If provided, the homeserver will return a
                    400 error with the errcode ``M_UNSUPPORTED_ROOM_VERSION`` if it does not
                    support the room version.
                  example: "1"
                  type: string
                topic:
                  description: |-
                    If this is included, an ``m.room.topic`` event will be sent
                    into the room to indicate the topic for the room. See Room
                    Events for more information on ``m.room.topic``.
                  type: string
                visibility:
                  description: |-
                    A ``public`` visibility indicates that the room will be shown
                    in the published room list. A ``private`` visibility will hide
                    the room from the published room list. Rooms default to
                    ``private`` visibility if this key is not included. NB: This
                    should not be confused with ``join_rules`` which also uses the
                    word ``public``.
                  enum:
                  - public
                  - private
                  type: string
              type: object
        description: The desired room configuration.
        required: false
      responses:
        200:
          content:
            application/json:
              example:
                room_id: '!sefiuhWgwghwWgh:example.com'
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Information about the newly created room.
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: |2-

            The request is invalid. A meaningful ``errcode`` and description
            error text will be returned. Example reasons for rejection include:

            - The request body is malformed (``errcode`` set to ``M_BAD_JSON``
              or ``M_NOT_JSON``).

            - The room alias specified is already taken (``errcode`` set to
              ``M_ROOM_IN_USE``).

            - The initial state implied by the parameters to the request is
              invalid: for example, the user's ``power_level`` is set below
              that necessary to set the room name (``errcode`` set to
              ``M_INVALID_ROOM_STATE``).

            - The homeserver doesn't support the requested room version, or
              one or more users being invited to the new room are residents
              of a homeserver which does not support the requested room version.
              The ``errcode`` will be ``M_UNSUPPORTED_ROOM_VERSION`` in these
              cases.
      security:
      - accessToken: []
      summary: Create a new room
      tags:
      - Room creation
      x-codegen-request-body-name: body
  /_matrix/client/unstable/delete_devices:
    post:
      description: |-
        This API endpoint uses the `User-Interactive Authentication API`_.

        Deletes the given devices, and invalidates any access token associated with them.
      operationId: deleteDevices
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/json:
            schema:
              properties:
                auth:
                  additionalProperties:
                    description: Keys dependent on the login type
                    properties: {}
                    type: object
                  description: |-
                    Additional authentication information for the
                    user-interactive authentication API.
                  example:
                    example_credential: verypoorsharedsecret
                    session: xxxxx
                    type: example.type.foo
                  title: Authentication Data
                  type: object
                devices:
                  description: The list of device IDs to delete.
                  example:
                  - QBUAZIFURK
                  - AUIECTSRND
                  items:
                    description: A list of device IDs.
                    type: string
                  type: array
              required:
              - devices
              type: object
        required: false
      responses:
        200:
          content:
            application/json:
              example: {}
              schema:
                type: object
          description: |-
            The devices were successfully removed, or had been removed
            previously.
        401:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication response'
          description: The homeserver requires additional authentication information.
      security:
      - accessToken: []
      summary: Bulk deletion of devices
      tags:
      - Device management
      x-codegen-request-body-name: body
  /_matrix/client/unstable/devices:
    get:
      description: Gets information about all devices for the current user.
      operationId: getDevices
      responses:
        200:
          content:
            application/json:
              example:
                devices:
                - device_id: QBUAZIFURK
                  display_name: android
                  last_seen_ip: 1.2.3.4
                  last_seen_ts: 1474491775024
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Device information
      security:
      - accessToken: []
      summary: List registered devices for the current user
      tags:
      - Device management
  /_matrix/client/unstable/devices/{deviceId}:
    delete:
      description: |-
        This API endpoint uses the `User-Interactive Authentication API`_.

        Deletes the given device, and invalidates any access token associated with it.
      operationId: deleteDevice
      parameters:
      - description: The device to delete.
        example: QBUAZIFURK
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_7'
        content:
          application/json:
            schema:
              properties:
                auth:
                  additionalProperties:
                    description: Keys dependent on the login type
                    properties: {}
                    type: object
                  description: |-
                    Additional authentication information for the
                    user-interactive authentication API.
                  example:
                    example_credential: verypoorsharedsecret
                    session: xxxxx
                    type: example.type.foo
                  title: Authentication Data
                  type: object
              type: object
        required: false
      responses:
        200:
          content:
            application/json:
              example: {}
              schema:
                type: object
          description: |-
            The device was successfully removed, or had been removed
            previously.
        401:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication response'
          description: The homeserver requires additional authentication information.
      security:
      - accessToken: []
      summary: Delete a device
      tags:
      - Device management
      x-codegen-request-body-name: body
    get:
      description: Gets information on a single device, by device id.
      operationId: getDevice
      parameters:
      - description: The device to retrieve.
        example: QBUAZIFURK
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                device_id: QBUAZIFURK
                display_name: android
                last_seen_ip: 1.2.3.4
                last_seen_ts: 1474491775024
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Device information
        404:
          content: {}
          description: The current user has no device with the given ID.
      security:
      - accessToken: []
      summary: Get a single device
      tags:
      - Device management
    put:
      description: Updates the metadata on the given device.
      operationId: updateDevice
      parameters:
      - description: The device to update.
        example: QBUAZIFURK
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/json:
            schema:
              properties:
                display_name:
                  description: |-
                    The new display name for this device. If not given, the
                    display name is unchanged.
                  example: My other phone
                  type: string
              type: object
        description: New information for the device.
        required: true
      responses:
        200:
          content:
            application/json:
              example: {}
              schema:
                type: object
          description: The device was successfully updated.
        404:
          content: {}
          description: The current user has no device with the given ID.
      security:
      - accessToken: []
      summary: Update a device
      tags:
      - Device management
      x-codegen-request-body-name: body
  /_matrix/client/unstable/directory/list/appservice/{networkId}/{roomId}:
    put:
      description: |-
        Updates the visibility of a given room on the application service's room
        directory.

        This API is similar to the room directory visibility API used by clients
        to update the homeserver's more general room directory.

        This API requires the use of an application service access token (``as_token``)
        instead of a typical client's access_token. This API cannot be invoked by
        users who are not identified as application services.
      operationId: updateAppserviceRoomDirectoryVsibility
      parameters:
      - description: |-
          The protocol (network) ID to update the room list for. This would
          have been provided by the application service as being listed as
          a supported protocol.
        example: irc
        in: path
        name: networkId
        required: true
        schema:
          type: string
      - description: The room ID to add to the directory.
        example: '!somewhere:example.org'
        in: path
        name: roomId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_8'
        content:
          application/json:
            schema:
              properties:
                visibility:
                  description: |-
                    Whether the room should be visible (public) in the directory
                    or not (private).
                  enum:
                  - public
                  - private
                  example: public
                  type: string
              required:
              - visibility
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              example: {}
              schema:
                type: object
          description: The room's directory visibility has been updated.
      security:
      - accessToken: []
      summary: Updates a room's visibility in the application service's room directory.
      tags:
      - Application service room directory management
      x-codegen-request-body-name: body
  /_matrix/client/unstable/directory/room/{roomAlias}:
    delete:
      description: |-
        Remove a mapping of room alias to room ID.

        Servers may choose to implement additional access control checks here, for instance that room aliases can only be deleted by their creator or a server administrator.
      operationId: deleteRoomAlias
      parameters:
      - description: The room alias to remove.
        example: '#monkeys:matrix.org'
        in: path
        name: roomAlias
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example: {}
              schema:
                type: object
          description: The mapping was deleted.
        404:
          content:
            application/json:
              example:
                errcode: M_NOT_FOUND
                error: 'Room alias #monkeys:example.org not found.'
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: There is no mapped room ID for this room alias.
      security:
      - accessToken: []
      summary: Remove a mapping of room alias to room ID.
      tags:
      - Room directory
    get:
      description: |-
        Requests that the server resolve a room alias to a room ID.

        The server will use the federation API to resolve the alias if the
        domain part of the alias does not correspond to the server's own
        domain.
      operationId: getRoomIdByAlias
      parameters:
      - description: The room alias.
        example: '#monkeys:matrix.org'
        in: path
        name: roomAlias
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                room_id: '!abnjk1jdasj98:capuchins.com'
                servers:
                - capuchins.com
                - matrix.org
                - another.com
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: The room ID and other information for this alias.
        404:
          content:
            application/json:
              example:
                errcode: M_NOT_FOUND
                error: 'Room alias #monkeys:matrix.org not found.'
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: There is no mapped room ID for this room alias.
      summary: Get the room ID corresponding to this room alias.
      tags:
      - Room directory
    put:
      operationId: setRoomAlias
      parameters:
      - description: The room alias to set.
        example: '#monkeys:matrix.org'
        in: path
        name: roomAlias
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_9'
        content:
          application/json:
            schema:
              example:
                room_id: '!abnjk1jdasj98:capuchins.com'
              properties:
                room_id:
                  description: The room ID to set.
                  type: string
              required:
              - room_id
              type: object
        description: Information about this room alias.
        required: true
      responses:
        200:
          content:
            application/json:
              example: {}
              schema:
                type: object
          description: The mapping was created.
        409:
          content:
            application/json:
              example:
                errcode: M_UNKNOWN
                error: 'Room alias #monkeys:matrix.org already exists.'
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: A room alias with that name already exists.
      security:
      - accessToken: []
      summary: Create a new mapping from room alias to room ID.
      tags:
      - Room directory
      x-codegen-request-body-name: body
  /_matrix/client/unstable/events:
    get:
      deprecated: true
      description: |-
        This will listen for new events and return them to the caller. This will
        block until an event is received, or until the ``timeout`` is reached.

        This endpoint was deprecated in r0 of this specification. Clients
        should instead call the |/sync|_ API with a ``since`` parameter. See
        the `migration guide
        <https://matrix.org/docs/guides/client-server-migrating-from-v1.html#deprecated-endpoints>`_.
      operationId: getEvents
      parameters:
      - description: |-
          The token to stream from. This token is either from a previous
          request to this API or from the initial sync API.
        example: s3456_9_0
        in: query
        name: from
        schema:
          type: string
      - description: The maximum time in milliseconds to wait for an event.
        example: "35000"
        in: query
        name: timeout
        schema:
          type: integer
      responses:
        200:
          content:
            application/json:
              example:
                chunk:
                - content:
                    body: This is an example text message
                    format: org.matrix.custom.html
                    formatted_body: <b>This is an example text message</b>
                    msgtype: m.text
                  event_id: $143273582443PhrSn:example.org
                  origin_server_ts: 1432735824653
                  room_id: '!jEsUZKDJdhlrceRyVU:example.org'
                  sender: '@example:example.org'
                  type: m.room.message
                  unsigned:
                    age: 1234
                end: s3457_9_0
                start: s3456_9_0
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: The events received, which may be none.
        400:
          content: {}
          description: Bad pagination ``from`` parameter.
      security:
      - accessToken: []
      summary: Listen on the event stream.
      tags:
      - Room participation
  /_matrix/client/unstable/events/{eventId}:
    get:
      deprecated: true
      description: |-
        Get a single event based on ``event_id``. You must have permission to
        retrieve this event e.g. by being a member in the room for this event.

        This endpoint was deprecated in r0 of this specification. Clients
        should instead call the |/rooms/{roomId}/event/{eventId}|_ API
        or the |/rooms/{roomId}/context/{eventId}|_ API.
      operationId: getOneEvent
      parameters:
      - description: The event ID to get.
        example: $asfDuShaf7Gafaw:matrix.org
        in: path
        name: eventId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                content:
                  body: This is an example text message
                  format: org.matrix.custom.html
                  formatted_body: <b>This is an example text message</b>
                  msgtype: m.text
                event_id: $143273582443PhrSn:example.org
                origin_server_ts: 1432735824653
                room_id: '!jEsUZKDJdhlrceRyVU:example.org'
                sender: '@example:example.org'
                type: m.room.message
                unsigned:
                  age: 1234
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: The full event.
        404:
          content: {}
          description: The event was not found or you do not have permission to read
            this event.
      security:
      - accessToken: []
      summary: Get a single event by event ID.
      tags:
      - Room participation
  /_matrix/client/unstable/initialSync:
    get:
      deprecated: true
      description: |-
        This returns the full state for this user, with an optional limit on the
        number of messages per room to return.

        This endpoint was deprecated in r0 of this specification. Clients
        should instead call the |/sync|_ API with no ``since`` parameter. See
        the `migration guide
        <https://matrix.org/docs/guides/client-server-migrating-from-v1.html#deprecated-endpoints>`_.
      operationId: initialSync
      parameters:
      - description: The maximum number of messages to return for each room.
        example: "2"
        in: query
        name: limit
        schema:
          type: integer
      - description: |-
          Whether to include rooms that the user has left. If ``false`` then
          only rooms that the user has been invited to or has joined are
          included. If set to ``true`` then rooms that the user has left are
          included as well. By default this is ``false``.
        example: "true"
        in: query
        name: archived
        schema:
          type: boolean
      responses:
        200:
          content:
            application/json:
              example:
                account_data:
                - content:
                    custom_config_key: custom_config_value
                  type: org.example.custom.config
                end: s3456_9_0
                presence:
                - content:
                    avatar_url: mxc://localhost:wefuiwegh8742w
                    currently_active: false
                    last_active_ago: 2478593
                    presence: online
                    status_msg: Making cupcakes
                  sender: '@example:localhost'
                  type: m.presence
                rooms:
                - account_data:
                  - content:
                      tags:
                        work:
                          order: 1
                    type: m.tag
                  - content:
                      custom_config_key: custom_config_value
                    type: org.example.custom.room.config
                  membership: join
                  messages:
                    chunk:
                    - content:
                        body: This is an example text message
                        format: org.matrix.custom.html
                        formatted_body: <b>This is an example text message</b>
                        msgtype: m.text
                      event_id: $143273582443PhrSn:example.org
                      origin_server_ts: 1432735824653
                      room_id: '!TmaZBKYIFrIPVGoUYp:localhost'
                      sender: '@example:example.org'
                      type: m.room.message
                      unsigned:
                        age: 1234
                    - content:
                        body: Gangnam Style
                        info:
                          duration: 2140786
                          h: 320
                          mimetype: video/mp4
                          size: 1563685
                          thumbnail_info:
                            h: 300
                            mimetype: image/jpeg
                            size: 46144
                            w: 300
                          thumbnail_url: mxc://example.org/FHyPlCeYUSFFxlgbQYZmoEoe
                          w: 480
                        msgtype: m.video
                        url: mxc://example.org/a526eYUSFFxlgbQYZmo442
                      event_id: $143273582443PhrSn:example.org
                      origin_server_ts: 1432735824653
                      room_id: '!TmaZBKYIFrIPVGoUYp:localhost'
                      sender: '@example:example.org'
                      type: m.room.message
                      unsigned:
                        age: 1234
                    end: s3456_9_0
                    start: t44-3453_9_0
                  room_id: '!TmaZBKYIFrIPVGoUYp:localhost'
                  state:
                  - content:
                      join_rule: public
                    event_id: $143273582443PhrSn:example.org
                    origin_server_ts: 1432735824653
                    room_id: '!TmaZBKYIFrIPVGoUYp:localhost'
                    sender: '@example:example.org'
                    state_key: ""
                    type: m.room.join_rules
                    unsigned:
                      age: 1234
                  - content:
                      avatar_url: mxc://example.org/SEsfnsuifSDFSSEF
                      displayname: Alice Margatroid
                      membership: join
                    event_id: $143273582443PhrSn:example.org
                    origin_server_ts: 1432735824653
                    room_id: '!TmaZBKYIFrIPVGoUYp:localhost'
                    sender: '@example:example.org'
                    state_key: '@alice:example.org'
                    type: m.room.member
                    unsigned:
                      age: 1234
                  - content:
                      creator: '@example:example.org'
                      m.federate: true
                      predecessor:
                        event_id: $something:example.org
                        room_id: '!oldroom:example.org'
                      room_version: "1"
                    event_id: $143273582443PhrSn:example.org
                    origin_server_ts: 1432735824653
                    room_id: '!TmaZBKYIFrIPVGoUYp:localhost'
                    sender: '@example:example.org'
                    state_key: ""
                    type: m.room.create
                    unsigned:
                      age: 1234
                  - content:
                      ban: 50
                      events:
                        m.room.name: 100
                        m.room.power_levels: 100
                      events_default: 0
                      invite: 50
                      kick: 50
                      notifications:
                        room: 20
                      redact: 50
                      state_default: 50
                      users:
                        '@example:localhost': 100
                      users_default: 0
                    event_id: $143273582443PhrSn:example.org
                    origin_server_ts: 1432735824653
                    room_id: '!TmaZBKYIFrIPVGoUYp:localhost'
                    sender: '@example:example.org'
                    state_key: ""
                    type: m.room.power_levels
                    unsigned:
                      age: 1234
                  visibility: private
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: The user's current state.
        404:
          content: {}
          description: There is no avatar URL for this user or this user does not
            exist.
      security:
      - accessToken: []
      summary: Get the user's current state.
      tags:
      - Room participation
  /_matrix/client/unstable/join/{roomIdOrAlias}:
    post:
      description: |-
        *Note that this API takes either a room ID or alias, unlike* ``/room/{roomId}/join``.

        This API starts a user participating in a particular room, if that user
        is allowed to participate in that room. After this call, the client is
        allowed to see all current state events in the room, and all subsequent
        events associated with the room until the user leaves the room.

        After a user has joined a room, the room will appear as an entry in the
        response of the |/initialSync|_ and |/sync|_ APIs.

        If a ``third_party_signed`` was supplied, the homeserver must verify
        that it matches a pending ``m.room.third_party_invite`` event in the
        room, and perform key validity checking if required by the event.
      operationId: joinRoom
      parameters:
      - description: The room identifier or alias to join.
        example: '#monkeys:matrix.org'
        in: path
        name: roomIdOrAlias
        required: true
        schema:
          type: string
      - description: |-
          The servers to attempt to join the room through. One of the servers
          must be participating in the room.
        example:
        - matrix.org
        - elsewhere.ca
        explode: false
        in: query
        name: server_name
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/inline_object_10'
        content:
          application/json:
            schema:
              properties:
                third_party_signed:
                  $ref: '#/components/schemas/Third Party Signed'
              type: object
        required: false
      responses:
        200:
          content:
            application/json:
              example:
                room_id: '!d41d8cd:matrix.org'
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
          description: |-
            The room has been joined.

            The joined room ID must be returned in the ``room_id`` field.
        403:
          content:
            application/json:
              example:
                errcode: M_FORBIDDEN
                error: You are not invited to this room.
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: |-
            You do not have permission to join the room. A meaningful ``errcode`` and description error text will be returned. Example reasons for rejection are:

            - The room is invite-only and the user was not invited.
            - The user has been banned from the room.
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: This request was rate-limited.
      security:
      - accessToken: []
      summary: Start the requesting user participating in a particular room.
      tags:
      - Room membership
      x-codegen-request-body-name: third_party_signed
  /_matrix/client/unstable/joined_rooms:
    get:
      description: This API returns a list of the user's current rooms.
      operationId: getJoinedRooms
      responses:
        200:
          content:
            application/json:
              example:
                joined_rooms:
                - '!foo:example.com'
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
          description: A list of the rooms the user is in.
      security:
      - accessToken: []
      summary: Lists the user's current rooms.
      tags:
      - Room membership
  /_matrix/client/unstable/keys/changes:
    get:
      description: |-
        Gets a list of users who have updated their device identity keys since a
        previous sync token.

        The server should include in the results any users who:

        * currently share a room with the calling user (ie, both users have
          membership state ``join``); *and*
        * added new device identity keys or removed an existing device with
          identity keys, between ``from`` and ``to``.
      operationId: getKeysChanges
      parameters:
      - description: |-
          The desired start point of the list. Should be the ``next_batch`` field
          from a response to an earlier call to |/sync|. Users who have not
          uploaded new device identity keys since this point, nor deleted
          existing devices with identity keys since then, will be excluded
          from the results.
        example: s72594_4483_1934
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: |-
          The desired end point of the list. Should be the ``next_batch``
          field from a recent call to |/sync| - typically the most recent
          such call. This may be used by the server as a hint to check its
          caches are up to date.
        example: s75689_5632_2435
        in: query
        name: to
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
          description: The list of users who updated their devices.
      security:
      - accessToken: []
      summary: Query users with recent device key updates.
      tags:
      - End-to-end encryption
  /_matrix/client/unstable/keys/claim:
    post:
      description: Claims one-time keys for use in pre-key messages.
      operationId: claimKeys
      requestBody:
        $ref: '#/components/requestBodies/inline_object_11'
        content:
          application/json:
            schema:
              properties:
                one_time_keys:
                  additionalProperties:
                    additionalProperties:
                      description: algorithm
                      example: signed_curve25519
                      type: string
                    type: object
                  description: |-
                    The keys to be claimed. A map from user ID, to a map from
                    device ID to algorithm name.
                  example:
                    '@alice:example.com':
                      JLAFKJWSCS: signed_curve25519
                  type: object
                timeout:
                  description: |-
                    The time (in milliseconds) to wait when downloading keys from
                    remote servers. 10 seconds is the recommended default.
                  example: 10000
                  type: integer
              required:
              - one_time_keys
              type: object
        description: Query defining the keys to be claimed
        required: false
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
          description: The claimed keys.
      security:
      - accessToken: []
      summary: Claim one-time encryption keys.
      tags:
      - End-to-end encryption
      x-codegen-request-body-name: query
  /_matrix/client/unstable/keys/query:
    post:
      description: Returns the current devices and identity keys for the given users.
      operationId: queryKeys
      requestBody:
        $ref: '#/components/requestBodies/inline_object_12'
        content:
          application/json:
            schema:
              properties:
                device_keys:
                  additionalProperties:
                    items:
                      description: device ID
                      type: string
                    type: array
                  description: |-
                    The keys to be downloaded. A map from user ID, to a list of
                    device IDs, or to an empty list to indicate all devices for the
                    corresponding user.
                  example:
                    '@alice:example.com': []
                  type: object
                timeout:
                  description: |-
                    The time (in milliseconds) to wait when downloading keys from
                    remote servers. 10 seconds is the recommended default.
                  example: 10000
                  type: integer
                token:
                  description: |-
                    If the client is fetching keys as a result of a device update received
                    in a sync request, this should be the 'since' token of that sync request,
                    or any later sync token. This allows the server to ensure its response
                    contains the keys advertised by the notification in that sync.
                  type: string
              required:
              - device_keys
              type: object
        description: Query defining the keys to be downloaded
        required: false
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
          description: The device information
      security:
      - accessToken: []
      summary: Download device identity keys.
      tags:
      - End-to-end encryption
      x-codegen-request-body-name: query
  /_matrix/client/unstable/keys/upload:
    post:
      description: Publishes end-to-end encryption keys for the device.
      operationId: uploadKeys
      requestBody:
        $ref: '#/components/requestBodies/inline_object_13'
        content:
          application/json:
            schema:
              properties:
                device_keys:
                  allOf:
                  - description: Device identity keys
                    properties:
                      algorithms:
                        description: The encryption algorithms supported by this device.
                        example:
                        - m.olm.v1.curve25519-aes-sha2
                        - m.megolm.v1.aes-sha2
                        items:
                          type: string
                        type: array
                      device_id:
                        description: |-
                          The ID of the device these keys belong to. Must match the device ID used
                          when logging in.
                        example: JLAFKJWSCS
                        type: string
                      keys:
                        additionalProperties:
                          type: string
                        description: |-
                          Public identity keys. The names of the properties should be in the
                          format ``<algorithm>:<device_id>``. The keys themselves should be
                          encoded as specified by the key algorithm.
                        example:
                          curve25519:JLAFKJWSCS: 3C5BFWi2Y8MaVvjM8M22DBmh24PmgR0nPvJOIArzgyI
                          ed25519:JLAFKJWSCS: lEuiRJBit0IG6nUf5pUzWTUEsRVVe/HJkoKuEww9ULI
                        type: object
                      signatures:
                        additionalProperties:
                          additionalProperties:
                            type: string
                          type: object
                        description: |-
                          Signatures for the device key object. A map from user ID, to a map from
                          ``<algorithm>:<device_id>`` to the signature.

                          The signature is calculated using the process described at `Signing
                          JSON`_.
                        example:
                          '@alice:example.com':
                            ed25519:JLAFKJWSCS: dSO80A01XiigH3uBiDVx/EjzaoycHcjq9lfQX0uWsqxl2giMIiSPR8a4d291W1ihKJL/a+myXS367WT6NAIcBA
                        type: object
                      user_id:
                        description: |-
                          The ID of the user the device belongs to. Must match the user ID used
                          when logging in.
                        example: '@alice:example.com'
                        type: string
                    required:
                    - algorithms
                    - device_id
                    - keys
                    - signatures
                    - user_id
                    title: DeviceKeys
                    type: object
                  description: |-
                    Identity keys for the device. May be absent if no new
                    identity keys are required.
                  type: object
                one_time_keys:
                  description: |-
                    One-time public keys for "pre-key" messages.  The names of
                    the properties should be in the format
                    ``<algorithm>:<key_id>``. The format of the key is determined
                    by the `key algorithm <#key-algorithms>`_.

                    May be absent if no new one-time keys are required.
                  example: ""
                  type: object
              type: object
        description: The keys to be published
        required: false
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
          description: The provided keys were sucessfully uploaded.
      security:
      - accessToken: []
      summary: Upload end-to-end encryption keys.
      tags:
      - End-to-end encryption
      x-codegen-request-body-name: keys
  /_matrix/client/unstable/login:
    get:
      description: |-
        Gets the homeserver's supported login types to authenticate users. Clients
        should pick one of these and supply it as the ``type`` when logging in.
      operationId: getLoginFlows
      responses:
        200:
          content:
            application/json:
              example:
                flows:
                - type: m.login.password
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
          description: The login types the homeserver supports
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: This request was rate-limited.
      summary: Get the supported login types to authenticate users
      tags:
      - Session management
    post:
      description: |-
        Authenticates the user, and issues an access token they can
        use to authorize themself in subsequent requests.

        If the client does not supply a ``device_id``, the server must
        auto-generate one.

        The returned access token must be associated with the ``device_id``
        supplied by the client or generated by the server. The server may
        invalidate any access token previously associated with that device. See
        `Relationship between access tokens and devices`_.
      operationId: login
      requestBody:
        $ref: '#/components/requestBodies/inline_object_14'
        content:
          application/json:
            schema:
              example:
                identifier:
                  type: m.id.user
                  user: cheeky_monkey
                initial_device_display_name: Jungle Phone
                password: ilovebananas
                type: m.login.password
              properties:
                address:
                  description: Third party identifier for the user.  Deprecated in
                    favour of ``identifier``.
                  type: string
                device_id:
                  description: |-
                    ID of the client device. If this does not correspond to a
                    known client device, a new device will be created. The server
                    will auto-generate a device_id if this is not specified.
                  type: string
                identifier:
                  $ref: '#/components/schemas/User identifier'
                initial_device_display_name:
                  description: |-
                    A display name to assign to the newly-created device. Ignored
                    if ``device_id`` corresponds to a known device.
                  type: string
                medium:
                  description: When logging in using a third party identifier, the
                    medium of the identifier. Must be 'email'.  Deprecated in favour
                    of ``identifier``.
                  type: string
                password:
                  description: |-
                    Required when ``type`` is ``m.login.password``. The user's
                    password.
                  type: string
                token:
                  description: Required when ``type`` is ``m.login.token``. Part of
                    `Token-based`_ login.
                  type: string
                type:
                  description: The login type being used.
                  enum:
                  - m.login.password
                  - m.login.token
                  type: string
                user:
                  description: The fully qualified user ID or just local part of the
                    user ID, to log in.  Deprecated in favour of ``identifier``.
                  type: string
              required:
              - type
              type: object
        required: false
      responses:
        200:
          content:
            application/json:
              example:
                access_token: abc123
                device_id: GHTYAJCE
                user_id: '@cheeky_monkey:matrix.org'
                well_known:
                  m.homeserver:
                    base_url: https://example.org
                  m.identity_server:
                    base_url: https://id.example.org
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
          description: The user has been authenticated.
        400:
          content:
            application/json:
              example:
                errcode: M_UNKNOWN
                error: Bad login type.
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: Part of the request was invalid. For example, the login type
            may not be recognised.
        403:
          content:
            application/json:
              example:
                errcode: M_FORBIDDEN
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: The login attempt failed. For example, the password may have
            been incorrect.
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: This request was rate-limited.
      summary: Authenticates the user.
      tags:
      - Session management
      x-codegen-request-body-name: body
  /_matrix/client/unstable/logout:
    post:
      description: |-
        Invalidates an existing access token, so that it can no longer be used for
        authorization. The device associated with the access token is also deleted.
        `Device keys <#device-keys>`_ for the device are deleted alongside the device.
      operationId: logout
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
          description: The access token used in the request was succesfully invalidated.
      security:
      - accessToken: []
      summary: Invalidates a user access token
      tags:
      - Session management
  /_matrix/client/unstable/logout/all:
    post:
      description: |-
        Invalidates all access tokens for a user, so that they can no longer be used for
        authorization. This includes the access token that made this request. All devices
        for the user are also deleted. `Device keys <#device-keys>`_ for the device are
        deleted alongside the device.

        This endpoint does not require UI authorization because UI authorization is
        designed to protect against attacks where the someone gets hold of a single access
        token then takes over the account. This endpoint invalidates all access tokens for
        the user, including the token used in the request, and therefore the attacker is
        unable to take over the account in this way.
      operationId: logout_all
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
          description: The user's access tokens were succesfully invalidated.
      security:
      - accessToken: []
      summary: Invalidates all access tokens for a user
      tags:
      - Session management
  /_matrix/client/unstable/notifications:
    get:
      description: |-
        This API is used to paginate through the list of events that the
        user has been, or would have been notified about.
      operationId: getNotifications
      parameters:
      - description: Pagination token given to retrieve the next set of events.
        example: xxxxx
        in: query
        name: from
        schema:
          type: string
      - description: Limit on the number of events to return in this request.
        example: "20"
        in: query
        name: limit
        schema:
          type: integer
      - description: |-
          Allows basic filtering of events returned. Supply ``highlight``
          to return only events where the notification had the highlight
          tweak set.
        example: highlight
        in: query
        name: only
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                next_token: abcdef
                notifications:
                - actions:
                  - notify
                  event:
                    content:
                      body: This is an example text message
                      format: org.matrix.custom.html
                      formatted_body: <b>This is an example text message</b>
                      msgtype: m.text
                    event_id: $143273582443PhrSn:example.org
                    origin_server_ts: 1432735824653
                    room_id: '!jEsUZKDJdhlrceRyVU:example.org'
                    sender: '@example:example.org'
                    type: m.room.message
                    unsigned:
                      age: 1234
                  profile_tag: hcbvkzxhcvb
                  read: true
                  room_id: '!abcdefg:example.com'
                  ts: 1475508881945
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
          description: A batch of events is being returned
      security:
      - accessToken: []
      summary: Gets a list of events that the user has been notified about
      tags:
      - Push notifications
  /_matrix/client/unstable/presence/{userId}/status:
    get:
      description: Get the given user's presence state.
      operationId: getPresence
      parameters:
      - description: The user whose presence state to get.
        example: '@alice:example.com'
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                last_active_ago: 420845
                presence: unavailable
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
          description: The presence state for this user.
        403:
          content:
            application/json:
              example:
                errcode: M_FORBIDDEN
                error: You are not allowed to see their presence
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: You are not allowed to see this user's presence status.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: |-
            There is no presence state for this user. This user may not exist or
            isn't exposing presence information to you.
      security:
      - accessToken: []
      summary: Get this user's presence state.
      tags:
      - Presence
    put:
      description: |-
        This API sets the given user's presence state. When setting the status,
        the activity time is updated to reflect that activity; the client does
        not need to specify the ``last_active_ago`` field. You cannot set the
        presence state of another user.
      operationId: setPresence
      parameters:
      - description: The user whose presence state to update.
        example: '@alice:example.com'
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_15'
        content:
          application/json:
            schema:
              example:
                presence: online
                status_msg: I am here.
              properties:
                presence:
                  description: The new presence state.
                  enum:
                  - online
                  - offline
                  - unavailable
                  type: string
                status_msg:
                  description: The status message to attach to this state.
                  type: string
              required:
              - presence
              type: object
        description: The updated presence state.
        required: true
      responses:
        200:
          content:
            application/json:
              example: {}
              schema:
                type: object
          description: The new presence state was set.
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: This request was rate-limited.
      security:
      - accessToken: []
      summary: Update this user's presence state.
      tags:
      - Presence
      x-codegen-request-body-name: presenceState
  /_matrix/client/unstable/profile/{userId}:
    get:
      description: |-
        Get the combined profile information for this user. This API may be used
        to fetch the user's own profile information or other users; either
        locally or on remote homeservers. This API may return keys which are not
        limited to ``displayname`` or ``avatar_url``.
      operationId: getUserProfile
      parameters:
      - description: The user whose profile information to get.
        example: '@alice:example.com'
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                avatar_url: mxc://matrix.org/SDGdghriugerRg
                displayname: Alice Margatroid
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
          description: The avatar URL for this user.
        404:
          content: {}
          description: There is no profile information for this user or this user
            does not exist.
      summary: Get this user's profile information.
      tags:
      - User data
  /_matrix/client/unstable/profile/{userId}/avatar_url:
    get:
      description: |-
        Get the user's avatar URL. This API may be used to fetch the user's
        own avatar URL or to query the URL of other users; either locally or
        on remote homeservers.
      operationId: getAvatarUrl
      parameters:
      - description: The user whose avatar URL to get.
        example: '@alice:example.com'
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                avatar_url: mxc://matrix.org/SDGdghriugerRg
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
          description: The avatar URL for this user.
        404:
          content: {}
          description: There is no avatar URL for this user or this user does not
            exist.
      summary: Get the user's avatar URL.
      tags:
      - User data
    put:
      description: |-
        This API sets the given user's avatar URL. You must have permission to
        set this user's avatar URL, e.g. you need to have their ``access_token``.
      operationId: setAvatarUrl
      parameters:
      - description: The user whose avatar URL to set.
        example: '@alice:example.com'
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_16'
        content:
          application/json:
            schema:
              example:
                avatar_url: mxc://matrix.org/wefh34uihSDRGhw34
              properties:
                avatar_url:
                  description: The new avatar URL for this user.
                  type: string
              type: object
        description: The avatar url info.
        required: true
      responses:
        200:
          content:
            application/json:
              example: {}
              schema:
                type: object
          description: The avatar URL was set.
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: This request was rate-limited.
      security:
      - accessToken: []
      summary: Set the user's avatar URL.
      tags:
      - User data
      x-codegen-request-body-name: avatar_url
  /_matrix/client/unstable/profile/{userId}/displayname:
    get:
      description: |-
        Get the user's display name. This API may be used to fetch the user's
        own displayname or to query the name of other users; either locally or
        on remote homeservers.
      operationId: getDisplayName
      parameters:
      - description: The user whose display name to get.
        example: '@alice:example.com'
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                displayname: Alice Margatroid
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
          description: The display name for this user.
        404:
          content: {}
          description: There is no display name for this user or this user does not
            exist.
      summary: Get the user's display name.
      tags:
      - User data
    put:
      description: |-
        This API sets the given user's display name. You must have permission to
        set this user's display name, e.g. you need to have their ``access_token``.
      operationId: setDisplayName
      parameters:
      - description: The user whose display name to set.
        example: '@alice:example.com'
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_17'
        content:
          application/json:
            schema:
              example:
                displayname: Alice Margatroid
              properties:
                displayname:
                  description: The new display name for this user.
                  type: string
              type: object
        description: The display name info.
        required: true
      responses:
        200:
          content:
            application/json:
              example: {}
              schema:
                type: object
          description: The display name was set.
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: This request was rate-limited.
      security:
      - accessToken: []
      summary: Set the user's display name.
      tags:
      - User data
      x-codegen-request-body-name: displayName
  /_matrix/client/unstable/publicRooms:
    get:
      description: |-
        Lists the public rooms on the server.

        This API returns paginated responses. The rooms are ordered by the number
        of joined members, with the largest rooms first.
      operationId: getPublicRooms
      parameters:
      - description: Limit the number of results returned.
        in: query
        name: limit
        schema:
          type: integer
      - description: |-
          A pagination token from a previous request, allowing clients to
          get the next (or previous) batch of rooms.
          The direction of pagination is specified solely by which token
          is supplied, rather than via an explicit flag.
        in: query
        name: since
        schema:
          type: string
      - description: |-
          The server to fetch the public room lists from. Defaults to the
          local server.
        in: query
        name: server
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_26'
          description: A list of the rooms on the server.
      summary: Lists the public rooms on the server.
      tags:
      - Room discovery
    post:
      description: |-
        Lists the public rooms on the server, with optional filter.

        This API returns paginated responses. The rooms are ordered by the number
        of joined members, with the largest rooms first.
      operationId: queryPublicRooms
      parameters:
      - description: |-
          The server to fetch the public room lists from. Defaults to the
          local server.
        in: query
        name: server
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_18'
        content:
          application/json:
            schema:
              example:
                filter:
                  generic_search_term: foo
                include_all_networks: false
                limit: 10
                third_party_instance_id: irc
              properties:
                filter:
                  $ref: '#/components/schemas/Filter'
                include_all_networks:
                  description: |-
                    Whether or not to include all known networks/protocols from
                    application services on the homeserver. Defaults to false.
                  example: false
                  type: boolean
                limit:
                  description: Limit the number of results returned.
                  type: integer
                since:
                  description: |-
                    A pagination token from a previous request, allowing clients
                    to get the next (or previous) batch of rooms.  The direction
                    of pagination is specified solely by which token is supplied,
                    rather than via an explicit flag.
                  type: string
                third_party_instance_id:
                  description: |-
                    The specific third party network/protocol to request from the
                    homeserver. Can only be used if ``include_all_networks`` is false.
                  example: irc
                  type: string
              type: object
        description: Options for which rooms to return.
        required: true
      responses:
        200:
          content:
            application/json:
              example:
                chunk:
                - aliases:
                  - '#murrays:cheese.bar'
                  avatar_url: mxc://bleeker.street/CHEDDARandBRIE
                  guest_can_join: false
                  name: CHEESE
                  num_joined_members: 37
                  room_id: '!ol19s:bleecker.street'
                  topic: Tasty tasty cheese
                  world_readable: true
                next_batch: p190q
                prev_batch: p1902
                total_room_count_estimate: 115
              schema:
                $ref: '#/components/schemas/inline_response_200_27'
          description: A list of the rooms on the server.
      security:
      - accessToken: []
      summary: Lists the public rooms on the server with optional filter.
      tags:
      - Room discovery
      x-codegen-request-body-name: body
  /_matrix/client/unstable/pushers:
    get:
      description: Gets all currently active pushers for the authenticated user.
      operationId: getPushers
      responses:
        200:
          content:
            application/json:
              example:
                pushers:
                - app_display_name: Appy McAppface
                  app_id: face.mcapp.appy.prod
                  data:
                    url: https://example.com/_matrix/push/v1/notify
                  device_display_name: Alice's Phone
                  kind: http
                  lang: en-US
                  profile_tag: xyz
                  pushkey: Xp/MzCt8/9DcSNE9cuiaoT5Ac55job3TdLSSmtmYl4A=
              schema:
                $ref: '#/components/schemas/inline_response_200_28'
          description: The pushers for this user.
      security:
      - accessToken: []
      summary: Gets the current pushers for the authenticated user
      tags:
      - Push notifications
  /_matrix/client/unstable/pushers/set:
    post:
      description: |-
        This endpoint allows the creation, modification and deletion of `pushers`_
        for this user ID. The behaviour of this endpoint varies depending on the
        values in the JSON body.
      operationId: postPusher
      requestBody:
        $ref: '#/components/requestBodies/inline_object_19'
        content:
          application/json:
            schema:
              example:
                app_display_name: Mat Rix
                app_id: com.example.app.ios
                append: false
                data:
                  format: event_id_only
                  url: https://push-gateway.location.here/_matrix/push/v1/notify
                device_display_name: iPhone 9
                kind: http
                lang: en
                profile_tag: xxyyzz
                pushkey: APA91bHPRgkF3JUikC4ENAHEeMrd41Zxv3hVZjC9KtT8OvPVGJ-hQMRKRrZuJAEcl7B338qju59zJMjw2DELjzEvxwYv7hH5Ynpc1ODQ0aT4U4OFEeco8ohsN5PjL1iC2dNtk2BAokeMCg2ZXKqpc8FXKmhX94kIxQ
              properties:
                app_display_name:
                  description: |-
                    A string that will allow the user to identify what application
                    owns this pusher.
                  type: string
                app_id:
                  description: |-
                    This is a reverse-DNS style identifier for the application.
                    It is recommended that this end with the platform, such that
                    different platform versions get different app identifiers.
                    Max length, 64 chars.

                    If the ``kind`` is ``"email"``, this is ``"m.email"``.
                  type: string
                append:
                  description: |-
                    If true, the homeserver should add another pusher with the
                    given pushkey and App ID in addition to any others with
                    different user IDs. Otherwise, the homeserver must remove any
                    other pushers with the same App ID and pushkey for different
                    users. The default is ``false``.
                  type: boolean
                data:
                  $ref: '#/components/schemas/PusherData_1'
                device_display_name:
                  description: |-
                    A string that will allow the user to identify what device owns
                    this pusher.
                  type: string
                kind:
                  description: |-
                    The kind of pusher to configure. ``"http"`` makes a pusher that
                    sends HTTP pokes. ``"email"`` makes a pusher that emails the
                    user with unread notifications. ``null`` deletes the pusher.
                  type: string
                lang:
                  description: |-
                    The preferred language for receiving notifications (e.g. 'en'
                    or 'en-US').
                  type: string
                profile_tag:
                  description: |-
                    This string determines which set of device specific rules this
                    pusher executes.
                  type: string
                pushkey:
                  description: |-
                    This is a unique identifier for this pusher. The value you
                    should use for this is the routing or destination address
                    information for the notification, for example, the APNS token
                    for APNS or the Registration ID for GCM. If your notification
                    client has no such concept, use any unique identifier.
                    Max length, 512 bytes.

                    If the ``kind`` is ``"email"``, this is the email address to
                    send notifications to.
                  type: string
              required:
              - app_display_name
              - app_id
              - data
              - device_display_name
              - kind
              - lang
              - pushkey
              type: object
        description: The pusher information.
        required: true
      responses:
        200:
          content:
            application/json:
              example: {}
              schema:
                description: An empty object.
                type: object
          description: The pusher was set.
        400:
          content:
            application/json:
              example:
                errcode: M_MISSING_PARAM
                error: 'Missing parameters: lang, data'
              schema:
                $ref: '#/components/schemas/inline_response_403'
          description: One or more of the pusher values were invalid.
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: This request was rate-limited.
      security:
      - accessToken: []
      summary: Modify a pusher for this user on the homeserver.
      tags:
      - Push notifications
      x-codegen-request-body-name: pusher
  /_matrix/client/unstable/pushrules/:
    get:
      description: |-
        Retrieve all push rulesets for this user. Clients can "drill-down" on
        the rulesets by suffixing a ``scope`` to this path e.g.
        ``/pushrules/global/``. This will return a subset of this data under the
        specified key e.g. the ``global`` key.
      operationId: getPushRules
      responses:
        200:
          content:
            application/json:
              example:
                global:
                  content:
                  - actions:
                    - notify
                    - set_tweak: sound
                      value: default
                    - set_tweak: highlight
                    default: true
                    enabled: true
                    pattern: alice
                    rule_id: .m.rule.contains_user_name
                  override:
                  - actions:
                    - dont_notify
                    conditions: []
                    default: true
                    enabled: false
                    rule_id: .m.rule.master
                  - actions:
                    - dont_notify
                    conditions:
                    - key: content.msgtype
                      kind: event_match
                      pattern: m.notice
                    default: true
                    enabled: true
                    rule_id: .m.rule.suppress_notices
                  room: []
                  sender: []
                  underride:
                  - actions:
                    - notify
                    - set_tweak: sound
                      value: ring
                    - set_tweak: highlight
                      value: false
                    conditions:
                    - key: type
                      kind: event_match
                      pattern: m.call.invite
                    default: true
                    enabled: true
                    rule_id: .m.rule.call
                  - actions:
                    - notify
                    - set_tweak: sound
                      value: default
                    - set_tweak: highlight
                    conditions:
                    - kind: contains_display_name
                    default: true
                    enabled: true
                    rule_id: .m.rule.contains_display_name
                  - actions:
                    - notify
                    - set_tweak: sound
                      value: default
                    - set_tweak: highlight
                      value: false
                    conditions:
                    - is: "2"
                      kind: room_member_count
                    - key: type
                      kind: event_match
                      pattern: m.room.message
                    default: true
                    enabled: true
                    rule_id: .m.rule.room_one_to_one
                  - actions:
                    - notify
                    - set_tweak: sound
                      value: default
                    - set_tweak: highlight
                      value: false
                    conditions:
                    - key: type
                      kind: event_match
                      pattern: m.room.member
                    - key: content.membership
                      kind: event_match
                      pattern: invite
                    - key: state_key
                      kind: event_match
                      pattern: '@alice:example.com'
                    default: true
                    enabled: true
                    rule_id: .m.rule.invite_for_me
                  - actions:
                    - notify
                    - set_tweak: highlight
                      value: false
                    conditions:
                    - key: type
                      kind: event_match
                      pattern: m.room.member
                    default: true
                    enabled: true
                    rule_id: .m.rule.member_event
                  - actions:
                    - notify
                    - set_tweak: highlight
                      value: false
                    conditions:
                    - key: type
                      kind: event_match
                      pattern: m.room.message
                    default: true
                    enabled: true
                    rule_id: .m.rule.message
              schema:
                $ref: '#/components/schemas/inline_response_200_29'
          description: All the push rulesets for this user.
      security:
      - accessToken: []
      summary: Retrieve all push rulesets.
      tags:
      - Push notifications
[...]
